/* Below (*) is used as universal selector */
*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../hlbanner.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
/* dot operator is denoted by class*/
.menu{
    width: 650px;
    float: left;
    height: 60px;
}

ul{
    float: left;
    list-style-type: none;
    margin-top: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    display: inline-block;
    margin-left: 62px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    font-weight: bold;
    border: 1px solid transparent;
    transition:0.6s ease; /* for smotthly workig */
}
/*here hover is an type of an effect which will show when your mouse is go on particular 
statement will you want to hover. here bg become white and the statement become black*/
ul li a:hover{
    background-color:#ff7200;
    color: #000;
}
/* here active you want to give an colour in bold*/
ul li.active a{
    background-color:#ff7200;
    color: #000;
}
.logo img{
    float: left;
    width: 140px;
    height: auto;
}
/*iska help se hmara website me dono side se spacing aa jati ha aur website attractive dikhta ha*/
.main{
    max-width: 1300px;
    margin: auto;
}


.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #fff;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 15px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background:#ff7200;
    border: 2px solid #fff;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.btn:focus{
    outline: none;
}

.text-box{
    color: #fff;
    position: absolute;
    bottom: 8%;
}

.text-box p{
    font-size: 60px;
    font-weight: 600;
}

.text-box h1{
    font-size: 190px;
    line-height: 160px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background-image: url(back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 30s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}


.text-box h3{
    font-size: 40px;
    font-weight: 500;
}
 
.text-box .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.text-box a{
    color:#fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
}

.text-box a span{
    font-size: 30px;
    line-height: 15px;
    margin-left: 5px;
}

.social-icons{
    position: absolute;
    right: 5%;
    bottom: 8%;
}

.social-icons img{ 
    display: block;
    margin: 25px 5px;

}